.modal {
    opacity: 0;
    pointer-events: none;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s;
    overflow-y: scroll;

    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 90vw;
    margin: 50px 0;
    height: max-content;

    .schedule-button {
        // margin: 5px;
        // padding: 5px;
        // border: 0;
        // border-radius: 5px;
        // transition: .3s;

        display: flex;
        cursor: pointer;
        margin: 5px;
        padding: 5px 5px 0 5px;
        margin: 10px;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 3px 8px rgb(0 0 0 / .2);
        border-radius: 9px;
        color: #272727;
        font-size: 12px;
        flex-direction: column;
        transition: 0.3s;

        &:hover {
            background: #d1d1d1;
        }
    }

    button {
        cursor: pointer;
    }

    .register-button {
        height: 30px;
        border: 0;
        transition: .5s;

        &:hover {
            background-color: rgb(209, 209, 209);
        }

        &.disabled {
            pointer-events: none;
        }
    }

    form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 350px;
        // overflow-y: scroll;

        p {
            margin-bottom: 5px;
        }

        img {
            border-radius: 50%;
            width: 200px;
            margin: 10px auto;
        }

        input {
            width: 100%;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 3px #ddd;
            font-size: 16px;
            border-radius: 4px;
            padding: 6px;
            margin-bottom: 10px;
        }
    }

    .schedule {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}