.specialty_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.specialty_card li {
    display: flex;
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 0.2);
    border-radius: 9px;
    color: #272727;
    font-size: 18px;
    transition: .3s;

    &:hover {
        background-color: #ffea0034;
    }
}

.doctors {
    max-width: 600px;
    margin: 0 auto;
    font-size: 20px;
}

.doctor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;

    p {
        width: 350px;
        margin: 5px;
    }
}

.register {
    padding: 5px 17px;
    margin: 5px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 0.2);
    cursor: pointer;
    height: max-content;
    transition: .3s;

    &:hover {
        background-color: #ffea0034;
    }
}

