* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../assets/fonts/Roboto-Regular.ttf) format('truetype');
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 30px;
}

.header {
    height: 60px;
}

nav {
    display: flex;
    width: 100%;
    height: 60px;
    position: fixed;
    background: #555;
    justify-content: center;
    background: linear-gradient(to right, rgb(171, 158, 0) 0%,rgb(0, 171, 5) 100%);
}

.navigation {
    height: 100%;

    li {
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: 0.15s ease;
        float: left;
        height: 100%;
        font-size: 18px;
        cursor: pointer;
        padding: 10px;
        color: #fff;

        &:hover {
            background: rgb(0, 97, 3);
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.nav {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;

    a {
        text-decoration: none;
        color: #272727;
    }
    
    li {
        display: flex;
        align-items: center;
        box-shadow: 0px 3px 8px rgb(0 0 0 / 0.2);
        border-radius: 9px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.2s linear;
        background-repeat: no-repeat;
        background-position: 10px center;
        width: 270px;
        height: 70px; 
        padding: 0 0 0 65px;

        &:hover {
            background-color: #ffd9003a;
        }
    }
    
    a:nth-child(1) li {
        background-image: url("../assets/svg/doctor-stethoscope.svg");
    }

    a:nth-child(2) li {
        background-image: url("../assets/svg/clipboard-with-list.svg");
    }

    a:nth-child(3) li {
        background-image: url("../assets/svg/emergency-ambulance.svg");
    }

    a:nth-child(4) li {
        background-image: url("../assets/svg/hospital-bed.svg");
    }

    span {
        display: flex;
        align-items: center;
        height: 70px;
        color: #272727;
        font-size: 18px;
        padding: 0 0 0 65px;
    }
}

.full-main-img {
    width: 100vw;
}

.main_title {
    margin-bottom: 30px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 768px;
    }

    .nav {
        margin: 0 auto;
        width: 100%;

        li {
            max-width: 90%;
        }
    }

    .doctor_card {
        max-width: 300px;
        margin: 10px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 90%;
    }

    .nav {
        width: 100%;
        text-align: center;

        li {
            margin-top: 10px;
        }
    }
}